<IfModule mod_rewrite.c>
Options -Multiviews
RewriteEngine On 

RewriteBase /sweet_host/MVC_host/public

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -l
RewriteRule ^ - [L]

RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]  
</IfModule>